subscription = "00000000-0000-0000-0000-000000000000"

location     = "westeurope"
tags = {
  Application = "smarttest"
  Environment = "dev"
}
SQLSA        = "SQLAdministrator"
SQLPassword  = "IwillNotTellyou"